{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# https://brew.sh/
type brew &> /dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

tap "felixkratz/formulae"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "jesseduffield/lazygit"
tap "tsung-ju/iguanatexmac"
brew "automake"
brew "bat"
brew "gcc"
brew "btop"
brew "readline"
brew "cairo"
brew "chezmoi"
brew "cmake"
brew "duf"
brew "eza"
brew "fd"
brew "unbound"
brew "harfbuzz"
brew "libass"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "gobject-introspection"
brew "htop"
brew "libheif"
brew "imagemagick"
brew "jq"
brew "mpv"
brew "neofetch"
brew "neovim"
brew "node"
brew "pandoc"
brew "qt"
brew "ripgrep"
brew "thefuck"
brew "tlrc"
brew "tmux"
brew "typst"
brew "yq"
brew "zoxide"
brew "zsh"
brew "jesseduffield/lazygit/lazygit"
cask "1password-cli"
cask "alacritty"
cask "calibre"
cask "chromedriver"
cask "discord"
cask "docker"
cask "fork"
cask "hammerspoon"
cask "hiddenbar"
cask "iguanatexmac"
cask "iina"
cask "latest"
cask "latexit-metadata"
cask "linearmouse"
cask "mathpix-snipping-tool"
cask "miniforge"
cask "mos"
cask "neovide"
cask "rectangle"
cask "secretive"
cask "sf-symbols"
cask "shottr"
cask "signal"
cask "slack"
cask "steam"
cask "syncthing"
cask "tempbox"
cask "typora"
cask "wezterm"
EOF
{{ end -}}
